html, body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#container {
  /* background-color: blue; */
  display: inline-block;
  width: 270px;
  height: 410px;
}

#register-error, #login-error {
  margin-top: 12px;
}

.button {
  -webkit-appearance: none;
  border: none;
  background-color: white;
  color: black;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  padding: 7px 12px;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
}

#logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#icon {
  font-size: 140px;
  user-select: none;
}
#logo-text {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
}

form {
  width: 100%;
  margin: 0;
}

form .form-input {
  width: 100%;
  margin-bottom: 12px;
  font-size: 16px;
  padding: 7px 12px;
  border-radius: 7px;
  margin-top: 3px;
}

.form-inputs {
  margin-top: 28px;
  margin-bottom: 20px;
}

.form-inputs > *:last-child {
  margin-bottom: 0;
}

#login-form .x-box, #register-form .x-box {
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

#login-form .y-box {
  gap: 3px;
}

.y-box {
  display: flex;
  flex-direction: column;
}
.x-box {
  display: flex;
  flex-direction: row;
}
.hidden {
  display: none;
}
a {
  color: white;
  font-weight: bold;
  width: fit-content;
}