html, body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#top, #modes {
  display: flex;
  align-items: center;
  justify-content: center;
}

#progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 700px;
  height: 12px;
  margin: 20px;
}

#progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 10px;
}

#progress::-webkit-progress-value {
  background-color: #888888;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#modes {
  display: flex;
  gap: 50px;
}

#modes > span {
  cursor: pointer;
  user-select: none;
}

.selected-mode {
  color: black;
  background-color: white;
  padding: 7px;
  border-radius: 7px;
  font-weight: bold;
}

#picture {
  width: 500px;
  height: 70vh;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
}

#bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
}

#bottom-left span {
  background-color: white;
  border-radius: 7px;
  padding: 7px;
  color: black;
  font-weight: bold;
}

#bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  border-radius: 7px;
  padding: 7px;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px;
}

#bottom-right > span, #bottom-left > span {
  cursor: pointer;
  user-select: none;
}

.hidden {
  display: none!important;
}

.disabled {
  opacity: 0.2;
  cursor: default!important;
}

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.dialog-window {
  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

#upload-dialog-window .dialog-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

#upload-dialog-placeholder {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 300px;
  align-items: center;
  justify-content: center;
  border: 2px dashed #888888;
  border-radius: 7px;
  color: #888888;
}

#upload-dialog-window-image {
  max-height: 300px;
  max-width: 450px;
  border: 2px dashed #888888;
  padding: 7px;
  border-radius: 7px;
}

#upload-dialog-window-icon {
  font-size: 100px;
  user-select: none;
}

#upload-dialog-window .dialog-bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding-bottom: 15px;
}

.dialog-bottom span {
  cursor: pointer;
  user-select: none;
}

#upload-dialog-upload-button {
  background-color: black;
  border-radius: 7px;
  padding: 7px 12px;
  color: white;
  margin-right: 15px;
}