html, body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#top, #modes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

#progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 700px;
  height: 12px;
  margin: 20px;
}

#progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

#progress::-webkit-progress-value {
  background-color: #888888;
}

#modes {
  display: flex;
  gap: 50px;
}

#modes > span {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

#modes .selected-mode {
  color: black;
  background-color: white;
  padding: 7px;
  border-radius: 7px;
  font-weight: bold;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: white; */
}

#picture {
  
}

:not(canvas) {
  z-index: 2;
}

#bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
}

#bottom-left span {
  background-color: white;
  border-radius: 7px;
  padding: 7px;
  color: black;
  font-weight: bold;
}

#bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  border-radius: 7px;
  padding: 7px;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px;
}

#bottom-right > span, #bottom-left > span {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.dialog-window {
  /* width: 500px;
  height: 400px; */
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 15px;
  gap: 15px;
}

#library-dialog .dialog-window {
  height: 90vh;
  /* max-width: 90vw; */
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  width: 430px;
  /* min-height: 400px; */
}

#library-dialog .images {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: auto;
  padding: 15px;
  height: 100%;
  padding-bottom: 0;
}

#library-dialog .images img {
  max-width: 400px;
  /* max-height: 400px; */
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

#library-dialog-window > div.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100%;
  margin: 0 auto;
  color: #88889C;
}

#library-dialog .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

#library-dialog .buttons > span {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

#library-dialog .delete-button {
  font-size: 24px;
}

#upload-dialog-window .dialog-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

#upload-dialog-header-modes {
  display: flex;
  gap: 50px;
  margin-bottom: 7px;
  align-items: center;
  justify-content: center;
}

#upload-dialog-header-modes span {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  padding: 7px;
}

#upload-dialog-header-modes .selected-mode {
  color: white;
  background-color: white;
  border-radius: 7px;
  background-color: black;
  font-weight: bold;
}

#upload-dialog-header-sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

#upload-dialog-header-sliders > div {
  width: 100%;
}

#upload-dialog-header-sliders input {
  margin-top: 6px;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  height: 7px;
  background: #88889C;
  border-radius: 7px;
}

#upload-dialog-header-sliders input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}

#upload-dialog-placeholder {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 300px;
  align-items: center;
  justify-content: center;
  border: 2px dashed #88889C;
  border-radius: 7px;
  color: #88889C;
}

#upload-dialog-placeholder .placeholder-text {
  text-align: center;
}

#upload-dialog-window-image {
  max-height: 60vh;
  max-width: 80vw;
  border: 2px dashed #88889C;
  padding: 5px;
  border-radius: 7px;
}

#upload-dialog-window-icon {
  font-size: 100px;
  user-select: none;
  -webkit-user-select: none;
}

#upload-dialog-window .dialog-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

#upload-dialog-window .dialog-bottom span {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

#upload-dialog-window .buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* #upload-dialog-window .dialog-bottom .left {
  display: flex;
  align-items: center;
  gap: 10px;
} */

#upload-dialog-upload-button {
  background-color: black;
  border-radius: 7px;
  padding: 7px 12px;
  color: white;
}

/* controls */
#bottom-left > span.start-button {
  width: 37px;
  text-align: center;
}

/* chart dialog */
#timerecord-chart-dialog-window .top-placeholder {
  width: 640px;
  height: 480px;
  background: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
}
#timerecord-chart-dialog-window > div.bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* global stuff */
.hidden {
  display: none!important;
}

.disabled {
  opacity: 0.2!important;
  cursor: default!important;
  user-select: none!important;
  -webkit-user-select: none!important;
  pointer-events: none!important;
}

.disabled * {
  cursor: default!important;
  user-select: none!important;
  -webkit-user-select: none!important;
  pointer-events: none!important;
}

.green {
  color: green!important;
  border-color: green!important;
}

.getting-preview {
  border-style: solid!important;
}

div#container.blurred * {
  filter: blur(4px);
}

.half-opacity {
  opacity: 0.5!important;
}

.invisible {
  visibility: hidden!important;
}

.no-select {
  user-select: none!important;
  -webkit-user-select: none!important;
}

.button-pointer {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}